:root{
    box-sizing: border-box;
    font-size: 1.2rem;

    --big-font: "Jersey 25", sans-serif;
    --brown: #602817;
}

body {
    padding: 0;
    margin: 0;
}

header {
    height: 100vh;
    background-image: url(images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center 60%;
    font-family: var(--big-font);
}

img {
    display: block;
}

nav {
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin: auto;
    padding: 1em 2em;
}

nav li {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav img {
    height: 4em;
}

li {
    list-style-type: none;
}

h1 {
    color: var(--brown);
    font-size: 3em;
}

button {
    background-color: transparent;
    color: var(--brown);
    border: 2px solid var(--brown);
    font-family: var(--big-font);
    font-size: 1.5em;
    padding: 0.5em 1em;
    border-radius: 6px;
}

header div {
    position: absolute;
    top: 35%;
    left: 30%;
}

header div button {
    margin-left: 3em;
}