*,
*::before,
*::after {
  box-sizing: border-box;
}

:root{
    font-size: 1.2rem;

    --big-font: "Jersey 25", sans-serif;
    --big-font-weight: 400;
    --small-font: "BenchNine", sans-serif;
    --review-font: "Berkshire Swash", serif;
    --brown: #602817;
    --coffee: #926e4d;
    --light-coffee: #F6F0EB;
}

header {
    background-image: url(images/about-cover.jpg);
    height: 70vh;
}

h1 {
    position: absolute;
    left: 18%;
    bottom: 35%;
}

main {
    background-color: var(--light-coffee);
}

main section {
    width: 85%;
    margin: auto;
}

h2 {
    text-align: initial;
    margin-bottom: 1.5em;
}

#our-story div {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 5em;
}

#our-story p {
    flex-basis: 50%;
    flex-grow: 1;
}

#our-story img {
    max-width: 20em;
    min-width: 2em;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 20px;
}

.team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.team-member {
    flex-basis: 30%;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    margin-bottom: 2em;
}

h4 {
    font-size: 1em;
    font-family: var(--big-font);
    font-weight: 400;
    margin: 0;
    color: #5c5555;
}

.team-member p {
    max-width: 30em;
    line-height: 1.5;
}

.team-member div {
    flex-basis: 50%;
    flex-grow: 1;
}

.team-member img {
    border-radius: 20px;
    aspect-ratio: 1/1;
    object-fit: cover;
    flex-shrink: 1;
    max-width: 100%;
}

@media (max-width: 965px) {
    h1 {
        color: var(--brown);
    }
}